html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #350D36;
}
.search-bar__content {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-btn__content {
    margin: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-btn {
    width: 500px;
    background-color: #431E44;
    border: 1px solid #684A68;
    border-radius: 5px;
}
.history-icon {
    padding: 3px;
    margin-right: 35px;
}
.help-icon {
    padding: 3px;
    margin-left: 470px;
    margin-right: 20px;
}

.search-btn__content .search-btn__name {
    font-size: 13px;
    color: #C2B6C3;
}
.search-btn:hover {
    border-color: #fff;
    cursor: pointer;
    filter: brightness(120%);
}

.history-icon:hover, .help-icon:hover {
    cursor: pointer;
    background-color: #431E44;
    border-color: #431E44;
    border-radius: 5px;
    filter: brightness(120%);
}
.main-content .column-left {
    position: fixed;
    top: 38px;
    left: 0;
    width: 250px;
    background-color: #3F0E40;
    color: #BCABBC;
    font-size: 14px;
    min-height: 100vh;
}
.main-content .column-right {
    margin-left: 250px;
}
.column-left__wrapper {
    padding: 0 15px;
}
.column-left__header {
    border-top: 1px solid #532753;
    border-bottom: 1px solid #532753;
}
.column-left__header__content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.column-left__header__content__text .name-company {
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 5px;
}
.column-left__header__content__text .name-man {
    color: #D9CFD9;
    font-size: 12px;
}
.column-left__header__content__text .name-man:hover {
    color: #fff;
    transition-delay: 0.05s;
}
.new-message-icon {
    position: relative;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.new-message-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.column-left__header:hover {
    cursor: pointer;
    background-color: #350D36;
}
.column-left__options__content {
    border-bottom: 1px solid #532753;
    padding: 10px 0;
}
.column-left__options__content div {
    padding: 7px 0;
    padding-left: 15px;
}
.column-left__options__content div img{
    padding-right: 5px;
}
.column-left__options__content div:hover:not(:last-child) {
    cursor: pointer;
    background-color: #350D36;
}
.column-left__options__content div:hover:last-child {
    cursor: pointer;
    filter:brightness(220%);
}
.column-left__channels__content > div:hover:not(:first-child) {
    cursor: pointer;
    background-color: #350D36;
}
.column-left__channels__content > div:not(:first-child) {
    padding: 7px 0;
    padding-left: 15px;
}
.option-add {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;  
}
.plus-btn {
    padding: 5px;
    margin-right: 25px;
}
.small-triangle-down-btn {
    padding-right: 5px;
}
.plus-btn {
    margin-right: 25px;
}
.plus-btn:hover {
    cursor: pointer;
    background-color: #431E44;
    border-color: #431E44;
    border-radius: 5px;
    filter: brightness(120%);
}
#active-channel {
    background-color: #1164A3;
    color: #fff;
}
#active-channel:hover {
    background-color: #1164A3;
    color: #fff;
}
.column-left__additional-options__content > div:not(:first-child) {
    padding: 7px 0;
    padding-left: 15px;
}
.column-left__additional-options__content > div:hover:not(:first-child):not(:last-child){
    cursor: pointer;
    background-color: #350D36;
}
.option-del {
    padding-left: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.option-del > div > span {
    color: #907390;
}
.btn-del {
    display: none;
    transform: rotate(45deg);
    margin-right: 30px;
}
.option-del:hover .btn-del {
    display: block;
}
.btn-del:hover {
    filter: brightness(220%);
}
.column-right__header {
    position: fixed;
    z-index: 1000;
    top: 38px;
    width: calc(100% - 250px);
    background-color: #fff;
    border-bottom: 1px solid #E2E2E2;
}
.column-right__header__content {
    padding-top: 15px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column-right__wrapper {
    padding: 0 20px;
}
.introductory-inf__general {
    margin-top: 3px;
    vertical-align: middle;
}
.introductory-inf__general  > span:first-child{
    font-weight: 900;
    font-size: 14px;
}
.star-icon {
    margin-left: 5px;
}
.star-icon:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #CFCFCF;
    transition-delay: 0.05s;
}
.introductory-inf__description {
    padding: 3px;
    color: #606060;
    font-size: 13px;
}
.introductory-inf__description .count-people{
    font-size: 14px;
}
.introductory-inf__description  > span:last-child{
    display: inline-block;
    padding: 5px;
}
.introductory-inf__description  > span:last-child:hover{
    cursor: default;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
}
.details {
    padding: 5px;
}
.details img {
    float: left;
    padding-right: 10px;
}
.details span {
    font-weight: 400;
    font-size: 13px;
    color: #606060;
}
.details:hover {
    cursor: pointer;
    background-color: #E2E2E2;
    transition-delay: 0.05s;
}
.column-right__main-inf {
    position: relative;
    z-index: 1;
    padding: 45px 0;
    margin-top: 100px;
    border-bottom: 1px solid #E2E2E2;
}
.column-right__main-inf h1 {
    font-size: 25px;
    font-weight: 900;
}
.column-right__main-inf__text {
    padding: 10px 0;
    font-size: 18px;
    line-height: 30px;
}
.column-right__main-inf__text span{
    color: #1264A3;
    border: 1px solid #E8F5FA;
    border-radius: 5px;
    background-color:#E8F5FA;
}
.column-right__main-inf__text b{
    font-weight: 700;
}
.column-right__main-inf__text span:hover {
   cursor: pointer;
   background-color:#A7FDFF;
}
.add-people p {
    display: inline-block;
    font-size: 14px;
    color: #1264A3;
}
.add-people:hover {
    cursor: pointer;
    filter:brightness(120%);
}
.day-bubble {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    bottom: -17%;
    z-index: 10;
    background-color: #fff;
}
.day-bubble p{
    padding: 10px 15px;
    font-size: 12px;
    color: #1D1C1D;
    font-weight: 700;
    border: 1px solid #E2E2E2;
    border-radius: 15px;
}

.column-right__message__content {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 0;
}
.column-right__message__content:hover {
    background-color: #F8F8F8;
}
.sender-img {
    float: left;
    padding-right: 5px;
}
.sender {
    display: inline-block;
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.message-time {
    font-size: 13px;
    color: #868586;
    text-decoration: none;
}
.sender:hover, .message-time:hover {
    text-decoration: underline;
}
.message-container {
    margin-left: 50px;
}
.message-text {
    text-align: left;
    line-height: 25px;
    color: #1D1C1D;
    font-size: 14px;
}
.message-link {
    color: #1264A3;
    text-decoration: none;
}
.message-link:hover {
    text-decoration: underline;
}
.editted-message {
    color: #A0A0A0;
    font-size: 13px;
}
.reactions div {
    display: inline-block;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #DDDDDD;
    font-size: 12px;
}
.reactions div:hover {
    cursor: pointer;
    border-color: black;
    background-color: #fff;
}
.replies {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
}
.replies img{
    padding-right: 10px;
    height: 23px;
}
.replies a{
    font-size: 12px;
}
.replies:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    transition-delay: 0.05s;
}
.column-right__message {
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #E2E2E2;
}
.message1-bubble {
    bottom: -10%;
}
.message2-bubble {
    bottom: -30%;
}
.vertical-line {
    float: left;
    margin-right: 10px;
    border-left: 4px solid #DDDDDD;
    height: 320px;
}
.youtube-title {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.youtube-title:hover {
    text-decoration: underline;
}
.channel-owner {
    font-size: 15px;
    color: #868586;
    text-decoration: none;
}
.channel-owner:hover {
    text-decoration: underline;
}
.name-video {
    font-weight: 700;
    color: #1264A3;
    text-decoration: none;
}
.name-video:hover {
    text-decoration: underline;
}
.stream-inf .common-inf{
    padding-bottom: 5px;
}
.stream-inf img {
    padding: 10px 0;
    cursor: pointer;
}
.clearfix {
    clear: left;
}
.dedicated-user {
    font-weight: 600;
    background-color: #FAE9B4;
    border: 1px solid #FAE9B4;
    border-radius: 5px;
}
 .message-container ul{
    list-style-type: disc;
}
.message-container ul li{
    margin-left: 23px;
}
.column-right__footer { 
    position: fixed;
    z-index: 1000;
    bottom: 0%;
    right: 0%;
    width: calc(100% - 250px);
    border-top: 1px solid #E2E2E2;
    background-color: #FFF;
}
.column-right__footer__content {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
.column-right__footer .energy-icon {
    padding: 5px;
    border-radius: 3%;
}
.column-right__footer .energy-icon:hover {
    cursor: pointer;
    background-color: #1264A3;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-delay: 0.05s;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
    background: #969696; 
}
.end-message {
    border: none;
    margin-bottom: 100px;
}
.mobile__menu{
    display: flex;
    justify-content: space-between;
}
.menu__btn{
    display: none;
	width: 82px;
	height: 74px;
    background-color: #FF5643;
	padding: 25px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.menu__btn .strip{
	width: 100%;
	height: 5px;
	background-color: #fff;
	cursor: pointer;
}
.mobile__search {
    display: none;
    margin-top: 10px;
    margin-right: 10px;
}
.mobile__search img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1024px) {
	.day-bubble {
		bottom: -11%;
	}
	.message1-bubble {
		bottom: -6%;
	}
	.message2-bubble {
		bottom: -20%;
	}
	.vertical-line {
		height: 260px;
	}
	.stream-inf img {
		width: 280px;
		height: 210px;
	}
	.main-content .column-left {
		width: 200px;
	}
	.main-content .column-right {
		margin-left: 200px;
    }
    .column-right__header {
        top: 45px;
        width: calc(100% - 200px);
    }
    .column-right__footer {
        width: calc(100% - 200px);
    }
}
@media screen and (max-width: 640px){
    .menu__btn {
        display: flex;
    }
    .mobile__search {
        display: block;
    }
    .stream-inf img {
        width: 200px;
        height: 130px;
    }
    header {
        width: 100%;
        height: 74px;
    }
    .message-text {
        font-size: 12px;
    }
    .search-bar__content {
        display: none;
    }
   .column-left {
       display: none;
   }
   .column-right__header {
       display: block;
   }
   .main-content .column-right {
       margin-left: 0;
   }
   .column-right__header {
       display: none;
   }
   .column-right__main-inf {
    margin-top: 50px;
}
    .column-right__footer {
       width: 100%;
    }
    .column-right__footer__content {
        padding: 15px 0;
    }
    .vertical-line {
        height: 200px;
    }
    .message-container {
        margin-left: 0px;
    }
    .message-text {
        font-size: 15px;
        text-align: justify;
    }
    .reactions div {
        margin: 2.5px;
    }
}