html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
header {
    background-color: #350D36;
}
.search-bar__content {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search-btn__content {
    margin: 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-btn {
    width: 500px;
    background-color: #431E44;
    border: 1px solid #684A68;
    border-radius: 5px;
}
.history-icon {
    padding: 3px;
    margin-right: 35px;
}
.help-icon {
    padding: 3px;
    margin-left: 470px;
    margin-right: 20px;
}

.search-btn__content .search-btn__name {
    font-size: 13px;
    color: #C2B6C3;
}
.search-btn:hover {
    border-color: #fff;
    cursor: pointer;
    filter: brightness(120%);
}

.history-icon:hover, .help-icon:hover {
    cursor: pointer;
    background-color: #431E44;
    border-color: #431E44;
    border-radius: 5px;
    filter: brightness(120%);
}
.main-content {
    display: flex;
    justify-content: space-between;
}
.main-content .column-left {
    flex-basis: calc(100% / 6);
    background-color: #3F0E40;
}
.main-content .column-right {
    flex-basis: calc(100% - 100% / 6);
}
.column-left__wrapper {
    padding: 0 15px;
}
.column-left__header {
    border-top: 1px solid #532753;
    border-bottom: 1px solid #532753;
}
.column-left__header__content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.column-left__header__content__text .name-company {
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    padding-bottom: 5px;
}
.column-left__header__content__text .name-man {
    color: #D9CFD9;
    font-size: 12px;
}
.new-message-icon {
    position: relative;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.new-message-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.column-left__header:hover {
    cursor: pointer;
    background-color: #350D36;
}
.column-left__options {
    color: #BCABBC;
    font-size: 14px;
}
.column-left__options__content {
    border-bottom: 1px solid #532753;
    padding: 10px 0;
}
.column-left__options__content div {
    padding: 7px 0;
    padding-left: 15px;
}
.column-left__options__content div img{
    padding-right: 5px;
}
.column-left__options__content div:hover:not(:last-child) {
    cursor: pointer;
    background-color: #350D36;
}
.column-left__options__content div:hover:last-child {
    cursor: pointer;
    filter:brightness(220%);
}